@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --bg-primary: #1a1a1a;
  --bg-secondary: #242424;
  --bg-tertiary: #2a2a2a;
  --fg-primary: #f8f8f8;
  --fg-secondary: #a0a0a0;
  --fg-tertiary: #6a6a6a;
  --separator: #303030;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bg-primary);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
